.version.index {
  color: #0000f8;
  background-color: #6526d1;
}
#page {
  z-index: 1;
  background-image: none;
  border-width: 0px;
  border-color: #000000;
  background-color: transparent;
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
#pu640 {
  z-index: 2;
  margin-right: -10000px;
  width: 100%;
}
#u640 {
  z-index: 2;
  min-height: 162px;
  padding-bottom: 35px;
}
#u1633 {
  z-index: 64;
  position: relative;
  margin-right: -10000px;
  margin-top: 11px;
  width: 19.07%;
  left: 2.09%;
}
#u1657-7 {
  z-index: 80;
  min-height: 114px;
  position: relative;
  margin-right: -10000px;
  margin-top: 46px;
  width: 62.61%;
  left: 27.71%;
}
.js body {
  visibility: hidden;
}
.js body.initialized {
  visibility: visible;
}
#u640-bw {
  z-index: 2;
  min-height: 162px;
}
#menuu761 {
  z-index: 3;
  position: relative;
  width: 61.36%;
}
#u762 {
  min-height: 34px;
  position: relative;
  margin-right: -10000px;
  width: 19.7%;
}
#u765 {
  padding-bottom: 17px;
  position: relative;
  width: 100%;
}
#u765:hover {
  min-height: 0px;
  width: 100%;
  margin: 0px 0px 0px 0%;
}
#u765:active {
  min-height: 0px;
  width: 100%;
  margin: 0px 0px 0px 0%;
}
#u768-4 {
  min-height: 17px;
  position: relative;
  margin-right: -10000px;
  top: 8px;
  width: 100%;
}
#u765:hover #u768-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 17px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}
#u765:active #u768-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 17px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}
#u1384 {
  min-height: 34px;
  position: relative;
  margin-right: -10000px;
  width: 19.7%;
  left: 20.04%;
}
#u1408 {
  padding-bottom: 17px;
  position: relative;
  width: 100%;
}
#u765.MuseMenuActive,
#u1408:hover {
  min-height: 0px;
  width: 100%;
  margin: 0px 0px 0px 0%;
}
#u1408:active {
  min-height: 0px;
  width: 100%;
  margin: 0px 0px 0px 0%;
}
#u1410-4 {
  min-height: 17px;
  position: relative;
  margin-right: -10000px;
  top: 8px;
  width: 100%;
}
#u765.MuseMenuActive #u768-4,
#u1408:hover #u1410-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 17px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}
#u1408:active #u1410-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 17px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}
#u1131 {
  min-height: 34px;
  position: relative;
  margin-right: -10000px;
  width: 19.7%;
  left: 40.07%;
}
#u1132 {
  padding-bottom: 17px;
  position: relative;
  width: 100%;
}
#u1408.MuseMenuActive,
#u1132:hover {
  min-height: 0px;
  width: 100%;
  margin: 0px 0px 0px 0%;
}
#u1132:active {
  min-height: 0px;
  width: 100%;
  margin: 0px 0px 0px 0%;
}
#u1135-4 {
  min-height: 17px;
  position: relative;
  margin-right: -10000px;
  top: 8px;
  width: 87.94%;
}
#u1132:hover #u1135-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 17px;
  width: 87.94%;
  margin: 0px -10000px 0px 0%;
}
#u1132:active #u1135-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 17px;
  width: 87.94%;
  margin: 0px -10000px 0px 0%;
}
#u1134 {
  z-index: 22;
  height: 14px;
  position: relative;
  margin-right: -10000px;
  top: 10px;
  width: 12.07%;
  left: 87.94%;
}
#u1132:hover #u1134 {
  height: 14px;
  min-height: 0px;
  width: 12.07%;
  margin: 0px -10000px 0px 0%;
}
#u1132:active #u1134 {
  height: 14px;
  min-height: 0px;
  width: 12.07%;
  margin: 0px -10000px 0px 0%;
}
#u1136 {
  top: 34px;
  width: 94.83%;
}
#u1238 {
  padding-bottom: 13px;
  position: relative;
  margin-right: -10000px;
  width: 98.19%;
}
#u1238:hover {
  min-height: 0px;
  width: 98.19%;
  margin: 0px -10000px 0px 0%;
}
#u1238.MuseMenuActive {
  min-height: 0px;
  width: 98.19%;
  margin: 0px -10000px 0px 0%;
}
#u1242-4 {
  min-height: 13px;
  padding-top: 4px;
  position: relative;
  margin-right: -10000px;
  top: 6px;
  width: 96.3%;
  left: 1.86%;
}
#u1238:hover #u1242-4 {
  padding-top: 4px;
  padding-bottom: 0px;
  min-height: 13px;
  width: 96.3%;
  margin: 0px -10000px 0px 0%;
}
#u1238.MuseMenuActive #u1242-4 {
  padding-top: 4px;
  padding-bottom: 0px;
  min-height: 13px;
  width: 96.3%;
  margin: 0px -10000px 0px 0%;
}
#u1283 {
  min-height: 34px;
  position: relative;
  margin-right: -10000px;
  width: 19.7%;
  left: 60.11%;
}
#u1284 {
  padding-bottom: 17px;
  position: relative;
  width: 100%;
}
#u1132.MuseMenuActive,
#u1284:hover {
  min-height: 0px;
  width: 100%;
  margin: 0px 0px 0px 0%;
}
#u1284:active {
  min-height: 0px;
  width: 100%;
  margin: 0px 0px 0px 0%;
}
#u1287-4 {
  min-height: 17px;
  position: relative;
  margin-right: -10000px;
  top: 8px;
  width: 87.94%;
}
#u1132.MuseMenuActive #u1135-4,
#u1284:hover #u1287-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 17px;
  width: 87.94%;
  margin: 0px -10000px 0px 0%;
}
#u1284:active #u1287-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 17px;
  width: 87.94%;
  margin: 0px -10000px 0px 0%;
}
#u1284.MuseMenuActive #u1287-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 17px;
  width: 87.94%;
  margin: 0px -10000px 0px 0%;
}
#u1286 {
  z-index: 37;
  height: 14px;
  position: relative;
  margin-right: -10000px;
  top: 10px;
  width: 12.07%;
  left: 87.94%;
}
#u1132.MuseMenuActive #u1134,
#u1284:hover #u1286 {
  height: 14px;
  min-height: 0px;
  width: 12.07%;
  margin: 0px -10000px 0px 0%;
}
#u1284:active #u1286 {
  height: 14px;
  min-height: 0px;
  width: 12.07%;
  margin: 0px -10000px 0px 0%;
}
#u1284.MuseMenuActive #u1286 {
  height: 14px;
  min-height: 0px;
  width: 12.07%;
  margin: 0px -10000px 0px 0%;
}
#u1288 {
  top: 34px;
  width: 99.14%;
}
#u1306 {
  padding-bottom: 4px;
  position: relative;
  margin-right: -10000px;
  width: 98.27%;
}
#u1306:hover {
  min-height: 0px;
  width: 98.27%;
  margin: 0px -10000px 0px 0%;
}
#u1310-4 {
  min-height: 13px;
  padding-top: 4px;
  position: relative;
  margin-right: -10000px;
  top: 2px;
  width: 96.47%;
  left: 1.77%;
}
#u1306:hover #u1310-4 {
  padding-top: 4px;
  padding-bottom: 0px;
  min-height: 13px;
  width: 96.47%;
  margin: 0px -10000px 0px 0%;
}
#u1472 {
  padding-bottom: 4px;
  position: relative;
  margin-right: -10000px;
  width: 98.27%;
}
#u1306.MuseMenuActive,
#u1472:hover {
  min-height: 0px;
  width: 98.27%;
  margin: 0px -10000px 0px 0%;
}
#u1475-4 {
  min-height: 13px;
  padding-top: 4px;
  position: relative;
  margin-right: -10000px;
  top: 2px;
  width: 96.47%;
  left: 1.77%;
}
#u1306.MuseMenuActive #u1310-4,
#u1472:hover #u1475-4 {
  padding-top: 4px;
  padding-bottom: 0px;
  min-height: 13px;
  width: 96.47%;
  margin: 0px -10000px 0px 0%;
}
#u1137,
#u1236,
#u1289,
#u1304,
#u1469,
#u1516 {
  position: relative;
  width: 100%;
}
#u1519 {
  padding-bottom: 12px;
  position: relative;
  margin-right: -10000px;
  width: 98.27%;
}
#u1472.MuseMenuActive,
#u1519:hover {
  min-height: 0px;
  width: 98.27%;
  margin: 0px -10000px 0px 0%;
}
#u1519.MuseMenuActive {
  min-height: 0px;
  width: 98.27%;
  margin: 0px -10000px 0px 0%;
}
#u1521-4 {
  min-height: 13px;
  padding-top: 4px;
  position: relative;
  margin-right: -10000px;
  top: 6px;
  width: 96.47%;
  left: 1.77%;
}
#u1472.MuseMenuActive #u1475-4,
#u1519:hover #u1521-4 {
  padding-top: 4px;
  padding-bottom: 0px;
  min-height: 13px;
  width: 96.47%;
  margin: 0px -10000px 0px 0%;
}
#u1519.MuseMenuActive #u1521-4 {
  padding-top: 4px;
  padding-bottom: 0px;
  min-height: 13px;
  width: 96.47%;
  margin: 0px -10000px 0px 0%;
}
#u1242-3,
#u1310-3,
#u1475-3,
#u1521-3 {
  margin-left: 2px;
  margin-right: 2px;
}
#u1549 {
  min-height: 34px;
  position: relative;
  margin-right: -10000px;
  width: 19.87%;
  left: 80.14%;
}
#u1573 {
  padding-bottom: 17px;
  position: relative;
  width: 100%;
}
#u1284.MuseMenuActive,
#u1573:hover {
  min-height: 0px;
  width: 100%;
  margin: 0px 0px 0px 0%;
}
#u1573:active {
  min-height: 0px;
  width: 100%;
  margin: 0px 0px 0px 0%;
}
#u1573.MuseMenuActive {
  min-height: 0px;
  width: 100%;
  margin: 0px 0px 0px 0%;
}
#u1575-4 {
  min-height: 17px;
  position: relative;
  margin-right: -10000px;
  top: 8px;
  width: 100%;
}
#u1408.MuseMenuActive #u1410-4,
#u1573:hover #u1575-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 17px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}
#u1573:active #u1575-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 17px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}
#u1573.MuseMenuActive #u1575-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 17px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}
#u1643 {
  z-index: 66;
  min-height: 111px;
}
#u640_align_to_page,
#u1643_align_to_page {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#u1654 {
  z-index: 79;
  position: relative;
  margin-right: -10000px;
  margin-top: 63px;
  width: 8.65%;
  left: 4.07%;
}
.ie #u1654 {
  background-color: #ffffff;
  opacity: 0.01;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
}
#u1654 .fluid_height_spacer {
  padding-bottom: 46.98795180722892%;
}
#u1646-11 {
  z-index: 67;
  min-height: 99px;
  position: relative;
  margin-right: -10000px;
  margin-top: 12px;
  width: 33.03%;
  left: 32.61%;
}
#u1649 {
  z-index: 78;
  width: 110px;
  min-height: 32px;
  position: relative;
  margin-right: -10000px;
  margin-top: 67px;
  left: 83.44%;
}
#u1643-bw {
  z-index: 66;
  min-height: 111px;
  margin-bottom: -76px;
  margin-top: -3px;
}
#muse_css_mq,
.html {
  background-color: #ffffff;
}
/*body {
  position: relative;
  min-width: 320px;
  padding-bottom: 0px;
}*/
#u1633_img {
  width: 100%;
}

/*CODIGO AGREGADO PARA EL BREADCRUMB*/
/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  margin-bottom: 0px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "\2192";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
footer {
  background: grey;
}
.footer {
  margin: auto;
  text-align: center;
}
.footer-fila {
  margin: 0%;
}

.contenedor {
  margin: 30px 10vw;
}
h4,
h2,
h1 {
  font-weight: bold;
}
#titulo-inicio {
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    rgb(40, 138, 218),
    rgb(21, 95, 138)
  );
  font-family: "Staatliches", cursive;
  font-size: 2em;
}
.contenido {
  background: radial-gradient(
    ellipse at center,
    rgba(242, 246, 248, 1) 0%,
    rgba(216, 225, 231, 1) 37%,
    rgba(181, 198, 208, 1) 96%,
    rgba(224, 239, 249, 1) 100%
  );
}

/*CODIGO AGREGADO FIN*/
